.woocommerce a.button, .woocommerce button.single_add_to_cart_button, .woocommerce button[name=add-to-cart], .woocommerce button[type=submit]:not(.wp-block-search__button), .woocommerce input[name=submit] {
    display: inline-block;
    text-align: center;
    word-break: break-word;
    background-color: var(--wp--preset--color--primary);
    color: #fff;
    border: 1px solid var(--wp--preset--color--black);
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
	font-weight: 900;
}


.woocommerce button.single_add_to_cart_button {
    font-size: 18px;
    padding: 1.5rem 3.5rem;
	font-weight: 900;
}

.woocommerce ul.products li.product a.add_to_cart_button {
    padding: .8rem 2.7rem;
	font-weight: 900;
}
.woocommerce ul.products li.product a.add_to_cart_button.loading {
    opacity: .5;
	font-weight: 900;
}

.woocommerce div.product button.single_add_to_cart_button, .woocommerce div.product button[name=add-to-cart] {
    margin-top: .5rem;
    margin-bottom: var(--wp--style--block-gap);
	font-weight: 900;
}

